* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow: hidden;
  height: 100vh;
}

section::-webkit-scrollbar {
  width: 0.2rem;
}

section::-webkit-scrollbar-track {
  background: transparent;
}

section::-webkit-scrollbar-thumb {
  background: #00CE79;
  border-radius: 50%;
}

.menu {
  background-color: #222222;
  height: 100vh;
  overflow: hidden;
}
.menu .menu_bag {
  display: flex;
  height: -webkit-fill-available;
  justify-content: space-between;
}
.menu .menu_bag .selct_box {
  background-color: #1c1c1c;
  text-align: center;
  max-width: max(0vw, 0em);
  z-index: 100;
  transition: ease 0.7s;
  left: max(-30vw, -30em);
  height: 100vh;
  position: relative;
}
.menu .menu_bag .selct_box .contenr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 100vh;
  overflow-x: hidden;
  height: 100vh;
}
.menu .menu_bag .selct_box .contenr::-webkit-scrollbar {
  width: 0.2rem;
}
.menu .menu_bag .selct_box .contenr::-webkit-scrollbar-track {
  background: transparent;
}
.menu .menu_bag .selct_box .contenr::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 50%;
}
.menu .menu_bag .selct_box .contenr img {
  box-shadow: max(0vw, 0em) max(0vw, 0em) max(1vw, 1em) max(-0.1vw, -0.1em) black;
  width: max(6vw, 6em);
  height: max(6vw, 6em);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: max(5vw, 5em);
  transition: ease 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  margin: max(2vw, 2em) max(0vw, 0em) max(0vw, 0em);
}
.menu .menu_bag .selct_box .contenr .product {
  color: white;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: max(0vw, 0em) auto max(0vw, 0em) max(2vw, 2em);
  text-align: initial;
}
.menu .menu_bag .selct_box .contenr .product h1 {
  padding: max(1vw, 1em) max(0vw, 0em);
  font-size: max(1.9vw, 1.9em);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  filter: blur(4px);
  opacity: 0;
  text-transform: capitalize;
  transition: ease 0.7s;
}
.menu .menu_bag .selct_box .contenr .product p {
  font-size: max(1.9vw, 1.9em);
}
.menu .menu_bag .selct_box .contenr .product p span {
  color: #00CE79;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  filter: blur(4px);
  opacity: 0;
  transition: ease 0.7s;
}
.menu .menu_bag .selct_box .contenr video {
  background-color: black;
  width: 380px;
  margin: max(2vw, 2em) max(0vw, 0em);
  border-radius: max(0.5vw, 0.5em);
}
@media (max-width: 1270px) {
  .menu .menu_bag .selct_box .contenr video {
    width: 90%;
  }
}
.menu .menu_bag .selct_box .contenr .detail {
  color: white;
  padding: max(1vw, 1em);
  text-align: left;
}
.menu .menu_bag .selct_box .contenr .detail h3 {
  font-size: max(2vw, 2em);
  text-align: left;
  padding: max(0.3vw, 0.3em) max(0vw, 0em);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .selct_box .contenr .detail p {
  color: #777;
  width: max(23vw, 23em);
  font-size: max(1vw, 1em);
  padding: 0 max(0.5vw, 0.5em) 0 0;
  overflow-y: auto;
  max-height: max(5vw, 5em);
}
@media (max-width: 520px) {
  .menu .menu_bag .selct_box .contenr .detail p {
    width: 101%;
  }
}
.menu .menu_bag .selct_box .contenr .detail p::-webkit-scrollbar {
  width: 0.2rem;
}
.menu .menu_bag .selct_box .contenr .detail p::-webkit-scrollbar-track {
  background: transparent;
}
.menu .menu_bag .selct_box .contenr .detail p::-webkit-scrollbar-thumb {
  background: #00ce79;
  border-radius: 50%;
}
.menu .menu_bag .selct_box .btntn {
  padding: max(1vw, 1em) max(0vw, 0em) max(0vw, 0em) max(1vw, 1em);
  text-align: left;
}
.menu .menu_bag .selct_box .btntn .grine {
  color: #00CE79;
  font-size: max(2vw, 2em);
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: max(0.5vw, 0.5em);
  border-radius: max(0.2vw, 0.2em);
  transition: 0.3s;
  cursor: context-menu;
}
.menu .menu_bag .selct_box .btntn .red {
  display: none;
  color: white;
  font-size: max(2vw, 2em);
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #00ce79;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: max(0.5vw, 0.5em);
  border-radius: max(0.2vw, 0.2em);
  transition: 0.3s;
}
.menu .menu_bag .selct_box .btntn .red:hover {
  color: white;
  background-color: rgba(0, 206, 120, 0.5490196078);
}
.menu .menu_bag .selct_box.clos {
  position: relative;
  transition: 1s;
  left: 0;
  width: max(25vw, 25em);
}
.menu .menu_bag .com {
  width: max(100vw, 100em);
}
.menu .menu_bag .com .nav_Mini-Bots {
  color: rgb(0, 0, 0);
  background-color: #00CE79;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: max(1vw, 1em) max(1vw, 1em);
  box-shadow: inset 20vh 0px 8vh -5vh #212121;
  z-index: 100;
}
.menu .menu_bag .com .nav_Mini-Bots p {
  font-weight: bold;
  cursor: pointer;
  font-size: max(1vw, 1em);
  color: white;
}
.menu .menu_bag .com .nav_Mini-Bots h1 {
  text-align: center;
  font-size: max(2vw, 2em);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .com .nav_Mini-Bots i {
  font-size: max(2.7vw, 2.7em);
  cursor: pointer;
  color: white;
}
.menu .menu_bag .com .nav_Mini-Bots img {
  width: 5%;
  border-radius: 50%;
}
.menu .menu_bag .com section {
  margin: max(1vw, 1em);
  padding: max(3vw, 3em) max(1vw, 1em);
  background-color: #222222;
  box-shadow: 0 0 25rem 0rem black;
  height: 88vh;
  overflow-y: auto;
}
.menu .menu_bag .com section .golden {
  box-shadow: 0px 0 50px -4px black;
  background-color: #222222;
  padding: max(1vw, 1em);
  position: relative;
  border-radius: max(0.5vw, 0.5em);
  margin: max(0vw, 0em) auto max(2vw, 2em);
  transition: 0.6s;
  width: max(60vw, 60em);
}
@media (max-width: 1520px) {
  .menu .menu_bag .com section .golden {
    width: 90%;
  }
}
.menu .menu_bag .com section .golden img {
  box-shadow: max(0vw, 0em) max(0vw, 0em) max(1vw, 1em) max(-0.1vw, -0.1em) black;
  position: absolute;
  width: max(8vw, 8em);
  height: max(7vw, 6em);
  right: -30px;
  top: -30%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: max(5vw, 5em);
  transition: ease 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .com section .golden h2 {
  text-shadow: max(0vw, 0em) max(0vw, 0em) max(0.3vw, 0.3em) #00ce79;
  color: #00ce79;
  font-weight: bold;
  margin-bottom: max(0.6vw, 0.6em);
  font-size: max(1.5vw, 1.5em);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .com section .golden .title {
  margin-bottom: max(1vw, 1em);
  font-size: max(0.9vw, 0.9em);
  display: block;
  color: #777;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .com section .golden .buteen {
  text-align: end;
}
.menu .menu_bag .com section .golden .buteen a {
  color: #000000;
  background-color: #00ce79;
  padding: max(1vw, 1em);
  font-size: max(1vw, 1em);
  border-radius: max(0.3vw, 0.3em);
  font-weight: bold;
  line-height: 2.6;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s;
}
.menu .menu_bag .com section .golden .buteen a:hover {
  color: #ffffff;
  background-color: rgba(0, 206, 120, 0.5647058824);
}
.menu .menu_bag .com section .contenar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(0vw, 20em), 1fr));
  justify-items: center;
  gap: max(3vw, 3em);
  width: 93%;
  margin: 0 auto;
}
.menu .menu_bag .com section .contenar .box {
  box-shadow: max(-0.5vw, -0.5em) max(-0.5vw, -0.5em) max(0.8vw, 0.8em) max(-0.5vw, -0.5em) #00ce79, max(0.2vw, 0.2em) max(0.2vw, 0.2em) max(0.7vw, 0.7em) black;
  background-color: #222222;
  padding: max(1vw, 1em) max(1vw, 1em) max(0vw, 0em) max(1vw, 1em);
  position: relative;
  border-radius: max(0.5vw, 0.5em);
  margin: max(2vw, 2em) max(0vw, 0em) max(1vw, 1em);
  transition: 0.6s;
  width: max(19vw, 19em);
}
.menu .menu_bag .com section .contenar .box:hover img {
  box-shadow: 0px 2px 15px #00CE79;
  transform: translate(245%, -70%);
}
.menu .menu_bag .com section .contenar .box img {
  box-shadow: max(0vw, 0em) max(0vw, 0em) max(1vw, 1em) max(-0.1vw, -0.1em) black;
  position: absolute;
  width: max(6vw, 6em);
  height: max(6vw, 6em);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: max(5vw, 5em);
  transform: translate(220%, -65%);
  transition: ease 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .com section .contenar .box h2 {
  text-shadow: max(0vw, 0em) max(0vw, 0em) max(0.3vw, 0.3em) #00ce79;
  color: #00ce79;
  font-weight: bold;
  margin-bottom: max(0.6vw, 0.6em);
  font-size: max(1.5vw, 1.5em);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu .menu_bag .com section .contenar .box .title {
  display: block;
  font-size: max(1vw, 1em);
  height: max(1vw, 1em);
  margin: auto 0 5px;
  opacity: 1;
  color: #777;
  overflow: hidden;
  width: 57%;
}
.menu .menu_bag .com section .contenar .box .choose-plan {
  text-align: center;
  color: #000000;
  background-color: #00ce79;
  padding: max(0.2vw, 0.2em);
  font-size: max(1vw, 1em);
  border-radius: max(0.3vw, 0.3em);
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: max(0.8vw, 0.8em);
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
}
.menu .menu_bag .com section .contenar .box p {
  opacity: 0;
}
.menu .menu_bag .com section .contenar .box video {
  opacity: 0;
  display: none;
}/*# sourceMappingURL=menu.css.map */