@import "./color-all";

%aboute {
    display: none;
    height: 100vh;
    
    .container{
            height: 100vh;
        .aboute-content {
            position: relative;
            overflow: hidden;
            padding: max(3vw, 3em) max(8vw, 8em) max(2vw, 2em);
            height: 100vh;
            
            @media (max-width: 1240px) {
                & {
                    padding: max(3vw, 3em) max(5vw, 5em) max(2vw, 2em);
                }

                @media (max-width: 1110px) {
                    & {
                        padding: max(3vw, 3em) max(3vw, 3em) max(2vw, 2em);
                    }
                }
                @media (max-width: 1040px) {
                    & {
                        padding: max(3vw, 3em) max(1vw, 1em) max(2vw, 2em);
                    }
                }
            }

            .left,
            .right {
                width:  max(25vw, 25em);
                margin-bottom:  max(1vw, 1em);
                position: relative;
            }

            .left {
                float: left;
                position: inherit;
                left: max(-50vw, -50em);
            }

            .right {
                float: right;
                position: inherit;
                right: max(-50vw, -50em);
            }

            .content {
                box-shadow: 0 0 115px -38px black;
                border-radius: max(1vw, 1em);
                position: relative;
                padding: max(1vw, 1em);
                backdrop-filter: blur(10px);

                h3 {
                    text-align: left;
                    font-weight: bold;
                    color: rgb(255 255 255);
                    margin: 0 0 10px;
                    font-size:  max(2vw, 2em);
                }
                
                p {
                    color: #ffffffbc;
                    font-size:  max(0.9vw, 0.9em);
                    margin: 0;
                    line-height: 1.6;
                }
            }
            
            h2 {
                color: $mine_orang;
                text-align: center;
                padding-top: 5px;
                font-size: max(1.6vw, 1.6em);
                text-shadow: 1px -5px 10px black;
            }
        }
    }
}

.clearfix {
    clear: both;
}
